header {
    color: #808080;
    font-size: 1em;
    padding:5px;
    text-align:center;
    text-transform: uppercase;
}

footer {
    color:#808080;
    clear:both;
    text-align:center;
    padding:5px;
}

header img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size:3em;
    text-align:center;
    padding:5px;
}

h2 {
    font-size:2em;
    text-align:center;
    padding:5px;
}

h3 {
    text-align:center;
    padding:5px;
}

p {
    font-size:1em;
    text-align:justify;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

body {
    background-image: url("food/food.png");
    background-repeat: repeat;

}
img {
    border-radius: 15px;
}

nav {
    float: none;
    text-align:center;
    padding-left: 0%;
    padding-right: 5%;
}

nav h3 {
    text-align: center;
}

section {
    float: left;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}

article h3 {
    font-size:1.5em;
    text-align:center;
    padding:3px;
}

article:first-child {
    float: left;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

article {
    float: left;
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
}

aside {
    float: left;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

aside h2 {
    font-size:1.5em;
    text-align:left;
    padding:0px;
}

aside h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-position: inside;
}

.votingStars {
    font-size:3em;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;

}

.votingStars span {
    cursor: pointer;
}

.rating {
    font-size:1em;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
}

#wait {
    text-align: center;
}
